<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{%static 'styles/register-login.css' %}">
</head>
<body>
<div id="container1">
    <h1>Register Yourself..</h1>
</div>
<form action="register" method="post">
<div id="container">

	<div class="content">
  {% csrf_token %}
    <label for="fname">First Name: </label>
    <input type="text" name="first_name" placeholder="First Name" id="fname" class="tfield" required><br>

    <label for="lname">Last Name: </label>
    <input type="text" name="last_name" placeholder="Last Name" id="lname" class="tfield" required><br>

    <label for="uname">Username: </label>
    <input type="text" name="username" placeholder="Username" id="uname" class="tfield" required><br>

    <label for="email">Email: </label>
    <input type="email" name="email" placeholder="Email" id="email" class="tfield" required><br>

    <label for="pass1">Password: </label>
    <input type="password" name="password1" placeholder="Password" id="pass1" class="tfield" required><br>

    <label for="pass2">Confirm Password: </label>
    <input type="password" name="password2" placeholder="Confirm Password" id="pass2" class="tfield" required><br>
    <br>

<div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>

	</div>



 	<input type="submit" name="Submit" value="Submit" class="submit">

</div>
</form>
</body>
</html>





